# 忽略所有 .vscode 目录及其子目录下的所有内容
.vscode/

# 忽略所有名为 .DS_Store 的文件 (macOS 特有)
**/.DS_Store

# 忽略所有 build 目录及其子目录下的所有内容
build/

# 忽略所有 .tmp 后缀的文件，无论它们在哪个目录
*.tmp

#忽略各目录下编译后的可执行文件
**/bin/

algorithm/
drawio/
cliontest/
临时/